<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Landingcss")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body data-spy="scroll" data-target="#navbar" data-offset="50" style="position:relative;">
    @Html.Partial("_NavBar")
 
        @RenderBody()
   

        @Html.Partial("_Footer")
 

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        var offset = 50;

        $('.spythis').click(function (event) {
            event.preventDefault();
            $($(this).attr('href'))[0].scrollIntoView();
            scrollBy(0, -offset);
        });
    </script>

</body>
</html>
